<div class="container">
  <form #salaryForm="ngForm" class="form-group">
    <div class="input-group">
      <span>总工资</span>
      <input #salaryInput="ngModel" [(ngModel)]="data.salary" type="number" class="form-control" placeholder="请输入工资金额" name="salary" required>
      <div [hidden]="salaryInput.valid||salaryInput.pristine" class="danger">请输入工资金额</div>
    </div>
    
    <div class="input-group">
      <span>补助</span>
      <input [(ngModel)]="data.more" type="number" class="form-control" placeholder="如果有补助请输入金额" name="more">
    </div>
  </form>
  <button class="btn" type="button" (click)="computed()" [disabled]="salaryInput.invalid">开始计算</button>

  <view-detail *ngIf="show" [salary]="parent.salary" [more]="parent.more"></view-detail>
</div>