<div class="show-item">
  <div class="input-group">
    <span>公积金</span>
    <div class="form-control">{{dataDetail.gongjijin * 2}}</div>
  </div>
  
  <div class="input-group">
    <span>养老保险</span>
    <div class="form-control">{{dataDetail.yanglao}}</div>
  </div>
  
  <div class="input-group">
    <span>医疗保险</span>
    <div class="form-control">{{dataDetail.yiliao}}</div>
  </div>

  <div class="input-group">
    <span>失业险</span>
    <div class="form-control">{{dataDetail.shiye}}</div>
  </div>

  <div class="input-group">
    <span>个人所得税</span>
    <div class="form-control">{{dataDetail.tax}}</div>
  </div>

  <div class="input-group">
      <span>合计共扣除</span>
      <div class="form-control">{{dataDetail.all}}</div>
    </div>

  <div class="input-group">
    <span>实际到手金额</span>
    <div class="form-control">{{dataDetail.money}}</div>
  </div>  
</div>