<div class="show-item">
  <div class="input-group">
    <span>公积金</span>
    <div class="form-control">{{gongjijin * 2}}</div>
  </div>
  
  <div class="input-group">
    <span>养老保险</span>
    <div class="form-control">{{yanglao}}</div>
  </div>
  
  <div class="input-group">
    <span>医疗保险</span>
    <div class="form-control">{{yiliao}}</div>
  </div>

  <div class="input-group">
    <span>失业险</span>
    <div class="form-control">{{shiye}}</div>
  </div>

  <div class="input-group">
    <span>个人所得税</span>
    <div class="form-control">{{tax}}</div>
  </div>

  <div class="input-group">
      <span>合计共扣除</span>
      <div class="form-control">{{all}}</div>
    </div>

  <div class="input-group">
    <span>实际到手金额</span>
    <div class="form-control">{{money}}</div>
  </div>  
</div>