/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box;
  outline: none;
}
html{
  font-size: 625%;
}
body{
  margin: 0;
  padding: 0;
  font-size: 0.14rem;
  font-family: Arial, Helvetica, sans-serif;
}